<div
    class="product-gallery__featured"
   
 
>
<!-- redZoomClass="product-red-zoom product-red-zoom--layout--{{ productLayout }}" 
    [redZoom]="images"
[redZoomThumb]="currentItem.image"
[redZoomLazy]="true" -->
    <div class="product-gallery__featured-inset">
       
        <button *ngIf="productLayout !== 'quickview'" class="product-gallery__zoom" (click)="openPhotoSwipe(currentItem)">
            <app-icon name="zoom-in-24" size="24"></app-icon>
        </button> 
        <a
        appClick
        class="product-image__body"
        target="_blank"
       >
    <!--   [href]="item.image"  (click)="onFeaturedImageClick($event, item);" -->
        <!--
        The data-width and data-height attributes must contain the size of a larger version
        of the product image.

        If you do not know the image size, you can remove the data-width and data-height
        attribute, in which case the width and height will be obtained from the naturalWidth
        and naturalHeight property of img.product-image__img.
        -->
        <img class="product-image__img" src="{{images}}" alt=""  onerror="this.src = '../../../assets/images/categories/custom-built-transformer-250x250.jpg'" #imageElement>
    </a>
        <owl-carousel-o [options]="carouselOptions" (changed)="featuredCarouselTranslated($event)" appOwlPreventClick #featuredCarousel>
            <!--suppress AngularUndefinedBinding -->
            <!-- <ng-template >*ngFor="let item of items" carouselSlide [id]="item.id" -->
            
                <ng-template>
                <div class="product-image product-image--location--gallery">
                    <a
                        appClick
                        class="product-image__body"
                        target="_blank"
                       >
                    <!--   [href]="item.image"  (click)="onFeaturedImageClick($event, item);" -->
                        <!--
                        The data-width and data-height attributes must contain the size of a larger version
                        of the product image.

                        If you do not know the image size, you can remove the data-width and data-height
                        attribute, in which case the width and height will be obtained from the naturalWidth
                        and naturalHeight property of img.product-image__img.
                        -->
                        <img class="product-image__img" src="{{images}}" alt=""  onerror="this.src = '../../../assets/images/categories/custom-built-transformer-250x250.jpg'" #imageElement>
                    </a>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<div class="product-gallery__carousel">
    <!-- [options]="thumbnailsCarouselOptions"
    [appFakeSlides]="items.length" -->
    <!-- #fakeSlides="appFakeSlides"
        #thumbnailsCarousel -->
    <owl-carousel-o
        appOwlPreventClick
        
       
    >
        <!--suppress AngularUndefinedBinding -->
        <ng-template *ngFor="let item of items" carouselSlide [id]="item.id">
            <div
                appClick
                class="product-image product-gallery__carousel-item"
                [class.product-gallery__carousel-item--active]="item === currentItem"
                (click)="onThumbnailImageClick(item)"
            >
                <div class="product-image__body">
                    <img class="product-image__img product-gallery__carousel-image" onerror="this.src = '../../../assets/images/categories/custom-built-transformer-250x250.jpg'" [src]="images" alt="">
                </div>
            </div>
        </ng-template>
        <!--suppress AngularUndefinedBinding -->
        <!-- <ng-template *ngFor="let i of fakeSlides.slides" carouselSlide [id]="'fake-slide-'+i"></ng-template> -->
    </owl-carousel-o>
</div>
