input:focus {outline:none;}
input[type=text]:focus {outline:none;}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  width: 50%;
  margin-top: 6rem;
}
.register{
    width: 50%;
    margin-left: 8em;
}