 <!-- <app-page-header [header]="'My Account'" [breadcrumbs]="[
    {label: 'Home',       url: '/'},
    {label: 'My Account', url: ''}
]"></app-page-header> -->

<div class="block">
    <div class="container">
        <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-6 d-flex pb-5">
            <div class="card flex-grow-1 mt-mb-md-0">
                <div class="card-body">
                    <h3 class="card-title">Login</h3>
                    <div [formGroup]="loginForm">
                        <!-- ///////////*****Is Login Form False*******//////////////// -->
                        <div *ngIf="!isVerified" class="form-group">
                            <label>Mobile Number</label>
                            <!-- <input class="form-control" formControlName="phone_no" placeholder="Mobile Nuber"> -->
                            <input (keypress)="numberOnly($event)" minlength=10 maxlength=10 formControlName="phone_no" class="form-control" placeholder="Mobile Number">
                            <!-- <button class="btn btn-primary" (click)="getOTP()" style="float: right; margin-top: -37px;">Verify</button> -->
                            
                            <div *ngIf="loginForm.get('phone_no').invalid && (loginForm.get('phone_no').dirty || loginForm.get('phone_no').touched)"
                            class="alert alert-danger">
                        
                          <div *ngIf="loginForm.get('phone_no').errors.required">
                           Please Enter a valid number
                          </div>
                          <div *ngIf="loginForm.get('phone_no').errors.minlength">
                            Please Enter a valid number
                          </div>
                          <div *ngIf="loginForm.get('phone_no').errors.maxlength">
                            Please Enter a valid number
                          </div>
                        
                        </div>
                        

                        </div>
                        <!-- //////////////////********isLogin True : Verification Code section***********//////////// -->
                        <div class="form-group" *ngIf = "isLogin">
                            <label for="header-signin-password" class="sr-only">Verification Code</label>
                            <div class="account-menu__form-forgot">
                                <input id="header-signin-password" type="password" formControlName="otp" class="form-control form-control-sm" placeholder="Verification Code">
                                <button (click)="resend()" class="account-menu__form-forgot-link txt-blu">Resend</button>
                                <!-- <a class="account-menu__form-forgot-link txt-blu">Resend?</a> -->
                            </div>
                        </div>
                     
                        <!-- MAKE THE BUTTON IN CENTER -->
                          <div class="row text-center">
                              <div class="col-md-12">
                                <button *ngIf="isVerified" (click)="login()" class="btn login btn-primary mx-auto mt-2 mt-md-3 mt-lg-4">Login</button>
                                <button *ngIf="!isVerified" (click)="getOTP()"  class="btn login btn-primary mx-auto mt-2 mt-md-3 mt-lg-4">Verify</button>
                              </div>
                              <div class="col-md-12 mt-4">
                                <span>New To Vidyut Cloud?
                                    <a href="#" routerLink="/account/register" style="text-align: center;"><strong>Sign Up Now!!!</strong> </a> </span>
                              </div>
                          </div>
                        <!-- <button class="btn login btn-primary mx-auto mt-2 mt-md-3 mt-lg-4" (click)="getOTP()">Verify</button>
                        <button class="btn login btn-primary mx-auto mt-2 mt-md-3 mt-lg-4" (click)="login()">Login</button><br><br> -->
                        
                      
                      
                    </div>
                </div>
            </div>
        </div>
           <div class="col-md-3"></div>
          
        </div>
    </div>
</div>

