.values{
    margin-left: 1rem;
    border: 1px solid grey;
    width: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer_val{
font-size: 0.8rem;
}
.upload{
    color:#ffd333 ;
    padding:0.8rem 0.5rem 0.8rem 0.5rem;
    text-align: center;
    border: 2px solid #ffd333;
}
.form_btn{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300;
    // padding: 4rem 2rem 4rem 2rem;
    // white-space: nowrap;
}
.card{
    border: 2.6px dashed;
    color: #ffd333;
}

a{
 cursor: pointer;   
}