.values{
    margin-left: 1rem;
    border: 1px solid grey;
    width: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.form_btn{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 6rem;
    white-space: nowrap;
}
.card{
    border: 2.6px dashed;
    color: #ffd333;
}