<div class="container">
<div class="row">
    <div class="col-md-12">
        <h3>Custom Products</h3>

    </div>
    <div class="col-md-12">
      <!-- Form starts -->
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <select multiple formControlName="cityName">
       <option value="">Choose your city</option>
       <option *ngFor="let city of City" [ngValue]="city" (change)="changeCity($event)">{{city}}
       </option>
    </select>
 
    <!-- error block -->
    <div class="invalid-feedback" *ngIf="isSubmitted && cityName.errors?.required">
       <sup>*</sup>Please enter your city name
    </div>
 
    <!-- Submit Button -->
    <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
 </form><!-- Form ends -->
    </div>
</div>
</div>


