.card-banner{
    // background-color: black;
    height: 300px;
    width: 100%;

}
.subbanner{
    height: 400px;
    width: 100%;
}
.product_list
{
height: 50vh;
margin-bottom: 20px;

}
.product_image{
    height: 100%;
    width: 100%;
}
.product_title{
    color: #737373;
}
.product_details{
color: grey;
}