.title{
  font-size: 16px; 
  font-weight: bold; 
}
.iconst{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 18px;
}
.wrapper{
  border-bottom: 1px solid #e2e2e2;
  padding: 1rem;
  background-color: #e2e2e2;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.transition-3{
  transition: 12s;
}
.save{
  width: 10rem;
}
.btn-danger{
  pad: 2rem;
}
.addr{
padding-left: 1rem;
}
h6{
  font-size: 1.2rem;
}