<div class="block-map block">
    <div class="block-map__body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d295254.8412784402!2d73.56052101029782!3d18.32725148482236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf99b76370ad%3A0xfce80db6342914ff!2sSahyadri%20Flora%2C%20left%20bhusari%20colony%2C%20Near%20Sadafulli%20apartment!5e0!3m2!1sen!2sin!4v1621590478975!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     
        <!-- <iframe src='https://goo.gl/maps/Ph3UAGUMwqGsdw2X8'
                frameborder='0' scrolling='no' marginheight='0' marginwidth='0'></iframe> -->
    </div>
</div>
