<div class="block about-us">
    <div class="about-us__image">
        <img src="" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body">
                    <h1 class="about-us__title">About Us</h1>
                    <div class="about-us__text typography">
                        <p class="about_us" style="margin-bottom: 0rem;">
                            Vidyut Cloud is the online platform for the B2B Ecommerce marketplace platform, especially for the electrical industry.
                            Vidyut Cloud is a next-gen startup with the vision of providing the best buying solution from the wide electrical market space. </p>
                            <p class="about_us" style="margin-bottom: 0rem;"> We help you to grow your business, worldwide with our B2B E-commerce platform, VIDUYT CLOUD.   
                            Our team has highly qualified electrical engineers with vast industrial experience in the field of Electrical Engineering Technology. Well-known electrical manufacturers & dealers are registered with Vidyut Cloud. This list has only been growing with time. We provide you the following value propositions:
                        </p>   


                   
                          

                            <ul class="about_us bullet">
                            <li>     <mat-accordion>
                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                  <mat-expansion-panel-header>
                                     <mat-panel-description>
                                      <strong>Where can the buyers purchase from?</strong>
                                    </mat-panel-description>
                                  </mat-expansion-panel-header>
                                 <span>
                                    <ul class="about_us bullet">
                                        <li>
                                            Buyers can purchase the products as per their requirements from the global market
                                        </li>
                                    </ul> 
                                    </span>
                                </mat-expansion-panel>
                              </mat-accordion></li>
                            <li>
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                                         (closed)="panelOpenState = false">
                                      <mat-expansion-panel-header>
                                         <mat-panel-description>
                                       <strong> What facility do we provide?</strong>
                                        </mat-panel-description>
                                      </mat-expansion-panel-header>
                                     <span>
                                        <ul class="about_us bullet">
                                            <li>
                                                We provide the product selling facility for the manufacturers/ dealers from all over the world.
                                            </li>
                                        </ul>  
                                        </span>
                                    </mat-expansion-panel>
                                  </mat-accordion>
                              </li> 
                            <li>
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                                         (closed)="panelOpenState = false">
                                      <mat-expansion-panel-header>
                                         <mat-panel-description>
                                         <strong> How do we care for our Customers?</strong>
                                        </mat-panel-description>
                                      </mat-expansion-panel-header>
                                     <span>
                                        <ul class="about_us bullet">
                                            <li>
                                                Service Orientation:  Our customer-focused approach makes us different from others. To serve the customers with the best quality service is our main aim. The customer care team guide every customer online as well as offline mode
                                            </li>
                                        </ul>   
                                       </span>
                                    </mat-expansion-panel>
                                  </mat-accordion>
                                
                                </li>
                            <li>
                                
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                                         (closed)="panelOpenState = false">
                                      <mat-expansion-panel-header>
                                         <mat-panel-description>
                                        <strong>Strength of Our Marketing Team?</strong>  
                                        </mat-panel-description>
                                      </mat-expansion-panel-header>
                                     <span>
                                        <ul class="about_us bullet">
                                            <li>
                                                Our marketing team is good at market research for a variety of products. It targets mainly panel manufacturers, contractors, builders, etc.
                                            </li>
                                        </ul>  
                                        </span>

                                    </mat-expansion-panel>
                                  </mat-accordion>
                               </li>

<!-- Why Us? Section if in the same list-->
<li>
                                
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
             <mat-panel-description>
             <strong>Why become a Member of Vidyut Cloud?</strong>
            </mat-panel-description>
          </mat-expansion-panel-header>
         <span>  <ul class="about_us bullet">
            <li>Search the right manufacturer or supplier for the specific product in just a few clicks.</li>
            <li>Searching one type of product from different manufacturers along with price & details makes it easy.</li>
            <li>Get multiple quotations from various manufactures in one place. </li>
            <li>Negotiation can be done online.</li>
            <li>Get free leads for your required product</li>
            <li>Get customized design solution for transformer</li>
            <li>Manufactures will can grow their business online</li>
        </ul></span>
        </mat-expansion-panel>
      </mat-accordion>
   </li>




                        </ul>
                            
                           <!-- <strong class="about_us "> <p class="sub_header">Why become a Member of Vidyut Cloud?</p></strong>
                            <p class="about_us sub_header">By becoming a member you can -</p> 
                            
                            <ul class="about_us bullet">
                                <li>Search the right manufacturer or supplier for the specific product in just a few clicks.</li>
                                <li>Searching one type of product from different manufacturers along with price & details makes it easy.</li>
                                <li>Get multiple quotations from various manufactures in one place. </li>
                                <li>Negotiation can be done online.</li>
                                <li>Get free leads for your required product</li>
                                <li>Get customized design solution for transformer</li>
                                <li>Manufactures will can grow their business online</li>
                            </ul> -->
                    </div>
                    <!-- <div class="about-us__team">
                        <h2 class="about-us__team-title">Meat Our Team</h2>
                        <div class="about-us__team-subtitle text-muted">Want to work in our friendly team?<br><a routerLink="../contact-us">Contact us</a> and we will consider your candidacy.</div>
                        <div class="about-us__teammates teammates">
                            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-1.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Michael Russo</div>
                                        <div class="teammate__position text-muted">Chief Executive Officer</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-2.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Katherine Miller</div>
                                        <div class="teammate__position text-muted">Marketing Officer</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-3.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Anthony Harris</div>
                                        <div class="teammate__position text-muted">Finance Director</div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
